<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small" >Recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h1 id="titulo">
      Bienvenido!
    </h1>
    <br>
  </div>  
</ion-content>