<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumno</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h1 id="titulo">
      Bienvenido!
    </h1>
    <ion-label>Usuario: {{user.usuario}}</ion-label>
    <br><br>
    
  </div>

  
</ion-content> -->

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Agrega el ion-back-button al lado izquierdo -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <!--  -->
      <ion-title>Asistencia</ion-title>
      <!--  -->
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!--  -->
    </ion-toolbar>
    <!--  -->
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Bienvenido Usuario: </ion-card-subtitle>
        <ion-card-title class="usuario">{{user.usuario}}</ion-card-title>
      </ion-card-header>
      
      <div class="container">
        <img
          class="img_qr"
          alt="Silhouette of mountains"
          src="../assets/icon/Img_profe.png"
        />
      </div>
      <ion-card-content>
        <div class="container">
          <!-- seleccion de fecha clase -->
          <ion-datetime
            presentation="date-time"
            [preferWheel]="true"
          ></ion-datetime>
          <!--  -->
        </div>

        <ion-button
          expand="block"
          color="warning"
          id="present-alert"
          class="warning"
          shape="round"
        >
          Generar registro Clase
        </ion-button>
        <!--  -->
      </ion-card-content>
    </ion-card>

    <ion-alert
      trigger="present-alert"
      header="Clase registrada"
      subHeader="Haz sido registrado en la clase correctamente. "
      message="¡Ya estas presente el dia de hoy!"
      cssClass="alert-multiline"
      [buttons]="alertButtons"
    >
    </ion-alert>
  </ion-content>
</div>
