<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profesor</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h1 id="titulo">
      Bienvenido!
    </h1>
    <ion-label>Usuario: {{user.usuario}}</ion-label><br><br>
  </div>
</ion-content>
