<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profesor</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h1 id="titulo">
      Bienvenido!
    </h1>
    <ion-label>Usuario: {{user.usuario}}</ion-label><br><br>
  </div>
</ion-content> -->

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumno</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h1 id="titulo">
      Bienvenido!
    </h1>
    <ion-label>Usuario: {{user.usuario}}</ion-label>
    <br><br>
    
  </div>

  
</ion-content> -->

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      
      <!-- Agrega el ion-back-button al lado izquierdo -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <!--  -->
      <ion-title>Registo Clase</ion-title>
      <!--  -->
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!--  -->
    </ion-toolbar>
    <!--  -->
  </ion-header>
  <div class="container">

  </div>
  <ion-content class="ion-padding">
    <div class="container">
      <ion-list id="formulario">
        <ion-label id="sub">Informacion Clase</ion-label><br>
        <!-- ---------------------- -->
        <ion-input [(ngModel)]="clase.fecha" type="date" expand="full" label="Fecha Nacimiento"
          placeholder="Ingrese Fecha" slot="start">
        </ion-input>
        <!-- ---------------------- -->
        <ion-input [(ngModel)]="clase.nombre_clase" type="text" expand="full" label="Clase" placeholder="Ingrese Nombre clase"
          slot="start"></ion-input>
          <!-- ---------------------- -->
        <ion-select [(ngModel)]="clase.seccion" label="Seccion " interface="action-sheet"
          placeholder="Seleccione Opcion" slot="center">
          <ion-select-option value="001D">001D</ion-select-option>
          <ion-select-option value="002D">002D</ion-select-option>
          <ion-select-option value="003D">003D</ion-select-option>
          <ion-select-option value="004D">004D</ion-select-option>
          <ion-select-option value="004D">005D</ion-select-option>
          <ion-select-option value="004D">006D</ion-select-option>
          <ion-select-option value="004D">007D</ion-select-option>
          <ion-select-option value="004D">008D</ion-select-option>
        </ion-select>
        
        <!-- ---------------------- -->
        <ion-button id="present-alert">
          Iniciar Clase
        </ion-button>
      </ion-list>
    </div>
    <ion-alert trigger="present-alert" header="Detalles clase"
    subHeader="La fecha es: {{clase.fecha}}, 
    nombre de la clase: {{clase.nombre_clase}}
    seccion de la clase: {{clase.seccion}}" 
    [buttons]="alertButtons"></ion-alert>


  </ion-content>
</div>

